body{
    margin: 0;
}

    h1{
font-size: 64px;

    }
    h1,h4{
        text-align: center;
    }
    #camera{
        padding: 20px;
    }
    a:link {
        color: black;
       }
       
       a:visited {
        color: rgb(100, 4, 100);
       }
       
       a:hover {
         color: blue;
       }
       
       a:active {
         color: rgb(235, 151, 151);
       } 
       #sticky-title{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
       }
       #film-list{
        position: relative;
        display: flex;
        padding: 40px;
       justify-content: space-evenly; 
       }
       