body {
    margin: 0;
    background-color: rgb(000000);
}
#title{
    font-size: 64px;
    
}
h1,h4{
    text-align: center;
}
#nav-bar{
    background-color: rgb(247, 211, 12);
    justify-content: space-evenly;
    align-content: center;
}
nav{
    color: blanchedalmond;
    position: relative;
    flex-direction: row;   
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
li{
    
    display: inline;
    
}
#hero{
    padding-top:  10px;
    width: 1500px;
    height: 300px;
}
a{
   
    padding: 8px;
    font-size: 24px;
    text-decoration: none;
   
}
#images{
    position: relative;
    display: flex;
    padding: 20px;
   justify-content: space-evenly;
    
}
.desc{
    font-size: 18px;
    text-align: center;
}
a{
    font-size: 16px;
}
a:link {
   color: black;
  }
  
  a:visited {
   color: rgb(128, 109, 3);
  }
  
  a:hover {
    color: rgb(255, 238, 0);
  }
  
  a:active {
    color: rgb(235, 151, 151);
  } 
  #comment{
      width: 550px;
      height: 100px;
  }
  #button{
      background-color: black;
      color: #ffffff;
      border-radius: 5px;
      width: 80px;
      height: 25px;
  }
  .dropbtn1 {
    background-color: #ffffff;
    color: #000000;
    padding: 16px;
    font-size: 16px;
    border: none;
    
  }
  

  .drop1 {
    position: relative;
    display: inline-block;
    padding: 10px;
  }
  
 
  .dropcon1 {
      
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 450px;
    margin: 10px;
  }
  
  
  .dropcon1 a {
    color: black;
   
    text-decoration: none;
    display: block;
  }
  
  
 
  .drop1:hover .dropcon1 {display: block;}
  
  
  .drop1:hover .dropbtn1 {background-color: #ffffff;}

