body {
    margin: 10px;
  background-color: black; 
    background-image: url("fists.jpg");
    color: blanchedalmond;
}
#about{
   
margin: 20px;
    font-size: 14px;
  text-align: center;
}
#title{
    font-size: 35px;
    text-align: center;
    color: blanchedalmond;
}

.wrapper{
    padding-bottom: 20px;
width: 100%;
 overflow-x: scroll;
  white-space: nowrap;
  float:left;
  position: relative;

}
.item{
    display: inline-block;  
}
#imgs{
    border:10px solid rgb(228, 173, 23);
  
}
#subtitle{
    margin: 10px;
    text-align: center;
}